.site-header {
	display: flex;
	justify-content: space-between;
	background: #012945;
	font-family: "Segoe UI", sans-serif;	
	color:rgb(255, 255, 255);	
	font-size: 2.5em; 
   }

#logo{
	background: #ffffff;
	border: 2px solid;
	border-color: #202e38;
}

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


* {
  margin: 0;
  padding: 0;
}

.display-date {
  text-align: center;
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 600;
}

.display-time {
  display: flex;
  font-size: 5rem;
  font-weight: bold;
}
